html {
	background-image: url(https://assets.stickpng.com/images/5842f68fa6515b1e0ad75b22.png), linear-gradient(#a51c30, #a51c30);
    background-position: top left, top left;
    background-repeat: no-repeat, no-repeat;
    background-size: 250px 250px, auto;
}

body {
	background: white;
	width: 50%;
	margin: 10px auto;
	padding: 10px;

}

table {
	border-collapse: collapse;
	border: 2px black solid;
	font: 12px sans-serif;
}

td {
	border: 1px black solid;
	padding: 5px;
}
